---
import Layout from '../layouts/Layout.astro'
import { createUser } from '../queries/insert'
import { getUsers } from '../queries/select'

const users = await getUsers()
const [{ name }] = users
if (users.length === 0) {
	await createUser({ age: 1, email: 'qwer@qwer', name: 'qwer' })
}
---

<Layout pageTitle={'Home Page'}>
	<div>{name}</div>
</Layout>
